section {
    max-width: 50%;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 576px) {
    section {
        max-width: 80%;
    }
}

.img-recap {
    border-radius: 8px;
    max-width: 175px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

.rating-system {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.star-rating i {
    font-size: 24px;
    color: black;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating i.selected {
    color: #ffc107;
}



.btn-recap {
    font-size: 14px;
    font-weight: 600;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: none;
}

.btn-recap:hover {
    background: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.button-container>* {
    margin: 0 10px;
}
