/* Global reset and universal styles */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
    transition: all 0.3s ease-in-out;
}

@font-face {
    font-family: 'Uber Move Bold';
    src: url('/fonts/UberMoveBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Uber Move Medium';
    src: url('/fonts/UberMoveMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
    transition: font-size 0.3s ease-in-out;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Uber Move Bold', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    font-family: 'Uber Move Bold';
    font-weight: bold;
}

h2 {
    font-family: 'Uber Move Bold';
    display: block;
    font-weight: bold;
}

h3 {
    font-family: 'Uber Move Bold';
    display: block;
    font-weight: bold;
}

h4 {
    font-family: 'Uber Move Bold';
    display: block;
    font-weight: 700;
}

h5 {
    font-family: 'Uber Move Bold';
    display: block;
    font-weight: 600;
}

h6 {
    font-family: 'Uber Move Bold';
    display: block;
    font-size: 0.8rem;
}

p {
    font-family: 'Uber Move Medium';
    font-weight: 500;
}

/* Sections and containers */
.main_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
}

.section_item {
    margin: 2rem 8rem;
    display: flex;
    flex-direction: column;
}

.panier {
    color: rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::selection {
    background-color: #009b58;
    color: #ffffff;
}

.suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    z-index: 1000;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

.header-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    border-radius: 500px;
    height: 36px;
}

/* Links and buttons */
.a-login,
.a-register {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    border-radius: 500px;
    height: 36px;
}

.a-login {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

.a-login:hover,
.header-link:hover {
    background: rgb(247, 247, 247);
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.a-register {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.a-register:hover {
    background: rgb(20, 20, 20);
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Cards and items */
.li-course,
.div-course {
    border-radius: 10px;
    box-shadow: 0px 5px 7px 0px rgb(220, 220, 220);
    padding: 20px;
    border: #f3f3f3 1px solid;
}

.li-course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.logo-image {
    max-width: 120px;
    height: auto;
    display: block;
    box-shadow: none;
}

.courses-items {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

/* Navigation Links */
.nav-uber {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 2px solid #000000;
    background-color: white;
    height: 64px;
    position: relative;
    top: 0;
    z-index: 2002;
}

.ul-links {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    gap: 10px;
}

.li-links {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px, rgba(0, 0, 0, 0.04) 0px 4px 4px;
    border-radius: 500px;
}

.header-links {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: background-size 500ms cubic-bezier(0.22, 1, 0.36, 1);
    align-items: center;
    display: flex;
    height: 100%;
    white-space: nowrap;
}

/* Search bar */
.search-bar {
    padding: 1rem 2rem;
    border-radius: 8px;
    border: 1px solid #ced4da;
    cursor: pointer;
}

.main-search {
    display: flex;
    align-items: center;
}

/* Etablissements */
.etablissement-detail {
    max-width: 1200px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.etablissement-banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.etablissement-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.etablissements-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 20px;
    margin-top: 20px;
    padding: 0 20px;
}

.etablissement-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.etablissement-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.etablissement-time {
    font-size: 14px;
    color: #777;
}

/* Utility Classes */
.ct,
.cv,
.cy {
    display: flex;
    justify-content: center;
}

.bh {
    width: 100%;
}

.bm {
    font-weight: 700;
}

.br {
    line-height: 24px;
}

/* Media Queries */
@media (max-width: 768px) {
    .etablissements-grid {
        grid-template-columns: repeat(auto-fit, 200px);
    }
}

/* COOKIES FEYZA */
.cookie {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
    border-radius: 12px;
    background-color: white;
    color: rgb(0, 0, 0);
    position: fixed;
    right: 65rem;
    bottom: 40px;
    transform: translate(20px, 20px);
    padding: 10px;
    z-index: 1000;
}

.cookie.hidden {
    opacity: 0;
}

.cookie a {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.cookie h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 36px;
}

.cookie p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0px;
}

.cookie button {
    font-size: 14px;
    font-weight: 600;
    background: #000;
    color: #fff;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: none;
    transition: background-color 0.3s ease;
}

.cookie button:hover {
    background: #282828;
    color: #fff;
}

.cookie-settings-banner {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
    border-radius: 12px;
    background-color: white;
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 40px;
    right: 65rem;
    transform: translate(20px, 20px);
    padding: 10px;
    z-index: 1000;
}

.div-cookie-setings {
    gap: 20px;
}

.cookie-settings-banner.show {
    display: block;
}

.cookie-settings-banner h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 36px;
}

.cookie-settings-banner .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cookie-settings-banner label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.cookie-settings-banner label .text {
    color: rgb(0, 0, 0);
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.cookie-settings-banner input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 3px solid rgb(94, 94, 94);
}

.cookie-settings-checkbox {
    gap: 8px;
    flex-basis: 40%;
}

.cookie-settings-banner .description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
}

.cookie-settings-banner button {
    font-size: 14px;
    font-weight: 600;
    background: #000;
    color: #fff;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: none;
    transition: background-color 0.3s ease;
}

.cookie-settings-banner button:hover {
    background: #282828;
    color: #fff;
}

#cookie-settings-description {
    font-size: 13px;
    margin-bottom: 20px;
    flex-basis: 60%;
}

#cookie-description {
    font-size: 14px;
}

/* DROIT */
.footer-container {
    background-color: white;
    color: black;
    padding: 20px 15px;
    text-align: center;
    border-top: 2px solid #343a40;

    .footer-links {
        margin-bottom: 10px;
    }

    .footer-links a {
        color: #adb5bd;
        font-weight: 600;
        margin: 0 15px;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }

    .footer-links a:hover {
        color: rgba(0, 0, 0, 0.5);
    }

    .footer-info {
        font-size: 0.875rem;
        color: #868e96;
        line-height: 1.5;
    }

    @media (max-width: 768px) {
        .footer-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .footer-info {
            margin-top: 15px;
        }
    }
}
